@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
/** 
 * StringBean CSS Framework
 * *****************************************************************************
 * @version StringBean 2
 * *****************************************************************************
 * @description : StringBean is a mobile-first responsive CSS framework designed
 * to work with not just mobiles, but also with higher resolutions such as 2K,
 * 3K, and 4K (and above).
 * *****************************************************************************
 *
 * Contents
 * --------
 *   1. Resets
 *   2. Containers & Rows
 *   3. Visibility
 *   4. Buttons & Links, and Features
 *   5. Basic Formatting
 *   6. Forms & Inputs
 *   7. Breakpoints
 */

/** 1. Resets **/
    html,body { display:block; width:100%; font-size:16px; }
    html, body, button, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; font-size:100%; font:inherit; box-sizing:border-box; word-wrap:break-word; font-size:1rem; line-height:1.25em; }
    a, b, i, u, strong, span, label { display:inline; width:auto; }
    ol, ul { list-style:none; overflow:auto; }
    
/** 2. Containers & Rows **/
    .container { display:block; margin-left:1%; margin-right:1%; overflow:auto; }
    .row { padding:0.5rem 0; overflow:auto; clear:both; }
    .column { float:left; margin-left:1%; margin-right:1%; }
    .third { width:33.3% } .column.third { width:30.833%; }
    .cell { display:inline-block; float:left; }
    .clear-fix { clear:both; }
    
/** 3. Visibility **/
    .show-only-xsmall, .show-only-small, .show-only-medium, .show-only-large, .show-only-mega-hd, .show-only-mega-uhd { display:none; }
    .hide-above-xsmall, .hide-above-small, .hide-above-medium, .hide-above-large, .hide-above-mega-hd, .hide-above-mega-uhd { display:inline-block; }
    .float-left { float:left; } .float-right { float:right; } .clear-both { clear:both; }
    .align-left { text-align:left; } .align-center { text-align:center; } .align-right { text-align:right; } .align-top { verical-align:top; } .align-middle { vertical-align:middle } .align-bottom { vertical-align:bottom; }
    .hide { display:none; }
    
/** 4. Buttons & Links, and Features **/
    .button, a, button, input[type=submit] { cursor:pointer; }
    .button { display:inline-block !important; font-size:0.75em; margin:0; padding:0.75em 2em; color:#555; border:0; text-decoration:none; line-height:normal; box-sizing:border-box; font-weight:bold; }
    .button:hover, .button:focus { opacity:0.7; }
    .button-set > .button { border-radius:0; margin:1px 0; }
    .button-set > .button:first-child { border-top-left-radius:5px; border-bottom-left-radius:5px; }
    .button-set > .button:last-child { border-top-right-radius:5px; border-bottom-right-radius:5px; }
    .jumbotron { display:block; padding:2em; background:#ececec; border:1px solid #d5d5d5; border-radius:0.35rem; -webkit-border-radius:0.35rem; -moz-border-radius:0.35rem; }
    .jumbotron .row { margin:0 0 0 0; padding:1em; } .jumbotron .row + .row { padding-top:0; }
    .jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6 { padding-top:0; padding-bottom:0; } .jumbotron p, .jumbotron a { margin-top:0; margin-bottom:0.25rem; }
    
    /** Info Wheels, Labels, and Alerts **/
    .info-wheel { display:inline-block; width:1.75em; max-width:1.75em; height:1.75em; max-height:1.75em; text-align:center; padding:0.25em 0; border-radius:3em; font-size:0.75em; }
    .label { display:inline-block; padding:0.1em 0.5em; font-size:0.75em; font-weight:bold; }
    
    /** Progress Bars **/
    .progress-bar { display:inline-block; border:1px solid #ddd; background-color:#f5f5f5; }
    .progress-bar-filler { line-height:2em; min-height:2em; text-align:center; font-weight:bold; font-size:0.75em; padding:0; width: attr(data-sb-value); }
    .progress-bar-filler:after { content: attr(data-sb-value); }  /** Displays the value of data-sb-value attribute in the innerHTML **/
    
    /** Grid Table **/
    .table { padding:0; border-left:1px solid #ddd; border-bottom:1px solid #ddd; }
    .table > .row { margin:0; padding:0; clear:both; overflow:hidden; }
    .table > .row > .cell { float:left; text-align:center; border-right:1px solid #ddd; border-top:1px solid #ddd; }
    .table > .row > .cell.header { font-weight:bold; background:#f5f5f5; }
      
/** 5. Basic Formatting **/    
    h1,h2,h3,h4,h5,h6 { margin:0.75rem 0; margin-bottom:0.25rem; font-weight:normal; } h1 { font-size:2.5rem; } h2 { font-size:2rem; } h3 { font-size:1.75rem; } h4 { font-size:1.5rem; } h5 { font-size:1.25rem; } h6 { font-size:1rem; }
    p { padding:0.5rem 0; }
    .button, button, input, selection { background-color:#10ec9c; }
    .normal { background-color:rgba(0,0,0,1); color:#fff; } .warning { background-color:rgba(255,200,0,1); color:#fff; } .inactive { background-color:rgba(165,165,165,1); } .success { background-color:rgba(94,174,69,1); color:#fff; } .alert { background-color:rgba(215,65,65,1); color:#fff; } .information { background-color:rgba(25,120,175,1); color:#fff; } .regal { background-color:rgba(120,75,120,1); color:#fff; } .amber { background-color:rgba(220,100,50,1); color:#fff; } .moot { background-color:rgba(70,100,120,1); color:#fff; }
    .normal, .warning, .inactive, .success, .alert, .information, .regal, .amber, .moot { filter:none; } /** Fixes background color not showing in IE issue **/
    .light { background-color:#fff; border:1px solid #555; }
    .dark { background-color:#555; border:1px solid #333; color:#eee; }    
    .rounded { border-radius:5px; }
    
    /** Code & Pre **/
    code > pre { background:#f5f5f5; padding:0.5em; border-left:0.25em solid #10ec9c; font-weight:500; }
    
    /** Sizes **/
    .small { font-size:0.75em; } .medium { font-size:1.25em; } .large { font-size:2em; }    
    
/** 6. Forms **/
    form, input, button, textarea, select { font-size:1em; font-weight:normal; }
    input[type=text], input[type=password], input[type=file], input[type=radio], input[type=checkbox], textarea, select { display:inline-block; background-color:#fff; border:1px solid #ddd; padding:0 0.5em 0 0.5em; min-height:2.25em; line-height:2em; }
    
/** 7. Breakpoints **/

    /** XSMALL **/
    @media screen and (min-width: 0px) {
        .xsmall-1 { width:4.25%; } .xsmall-2 { width:10.50%; } .xsmall-3 { width:16.75%; } .xsmall-4 { width:23.00%; } .xsmall-5 { width:29.25%; } .xsmall-6 { width:35.50%; } .xsmall-7 { width:41.75%; } .xsmall-8 { width:48.00%; } .xsmall-9 { width:54.25%; } .xsmall-10 { width:60.50%; } .xsmall-11 { width:66.75%; } .xsmall-12 { width:73.00%; } .xsmall-13 { width:79.25%; } .xsmall-14 { width:85.50%; } .xsmall-15 { width:91.75%; } .xsmall-16, .full-16 { width:98.00%; }
        .cell.xsmall-1 { width:6.250%; } .cell.xsmall-2 { width:12.50%; } .cell.xsmall-3 { width:18.75%; } .cell.xsmall-4 { width:25.00%; } .cell.xsmall-5 { width:31.25%; } .cell.xsmall-6 { width:37.50%; } .cell.xsmall-7 { width:43.75%; } .cell.xsmall-8 { width:50.00%; } .cell.xsmall-9 { width:56.25%; } .cell.xsmall-10 { width:62.50%; } .cell.xsmall-11 { width:68.75%; } .cell.xsmall-12 { width:75.00%; } .cell.xsmall-13 { width:81.25%; } .cell.xsmall-14 { width:87.50%; } .cell.xsmall-15 { width:93.75%; } .cell.xsmall-16 { width:100.0%; }
        .xsmall-third { width:30.833% }
        .container { margin-left:0.5%; margin-right:0.5%; }
        .hide-below-small, .hide-below-medium, .hide-below-large, .hide-below-mega-hd, .hide-below-mega-uhd { display:none; }  /** Hide elements below certain points **/
        .show-only-xsmall { display:block; }
        h1 {font-size:2.25rem;} h2 {font-size:2rem;} h3 {font-size:1.75rem;} h4 {font-size:1.5rem;} h5 {font-size:1.25rem;} h6 {font-size:1rem;}
    }

    /** SMALL **/
    @media screen and (min-width: 320px) {
        .small-1 { width:4.25%; } .small-2 { width:10.50%; } .small-3 { width:16.75%; } .small-4 { width:23.00%; } .small-5 { width:29.25%; } .small-6 { width:35.50%; } .small-7 { width:41.75%; } .small-8 { width:48.00%; } .small-9 { width:54.25%; } .small-10 { width:60.50%; } .small-11 { width:66.75%; } .small-12 { width:73.00%; } .small-13 { width:79.25%; } .small-14 { width:85.50%; } .small-15 { width:91.75%; } .small-16, .full-16 { width:98.00%; }
        .cell.small-1 { width:6.250%; } .cell.small-2 { width:12.50%; } .cell.small-3 { width:18.75%; } .cell.small-4 { width:25.00%; } .cell.small-5 { width:31.25%; } .cell.small-6 { width:37.50%; } .cell.small-7 { width:43.75%; } .cell.small-8 { width:50.00%; } .cell.small-9 { width:56.25%; } .cell.small-10 { width:62.50%; } .cell.small-11 { width:68.75%; } .cell.small-12 { width:75.00%; } .cell.small-13 { width:81.25%; } .cell.small-14 { width:87.50%; } .cell.small-15 { width:93.75%; } .cell.small-16 { width:100.0%; }
        .small-third { width:30.833% }
        .container { margin-left:0.5%; margin-right:0.5%; }
        .hide-below-medium, .hide-below-large, .hide-below-mega-hd, .hide-below-mega-uhd { display:none; }  /** Hide elements below certain points **/
        .hide-above-xsmall { display:none; }  /** Show elements only below certain points **/
        .show-only-small { display:block; }
        h1 {font-size:2.25rem;} h2 {font-size:2rem;} h3 {font-size:1.75rem;} h4 {font-size:1.5rem;} h5 {font-size:1.25rem;} h6 {font-size:1rem;}
    }

    /** MEDIUM **/
    @media screen and (min-width: 600px) {
        .medium-1 { width:4.25%; } .medium-2 { width:10.50%; } .medium-3 { width:16.75%; } .medium-4 { width:23.00%; } .medium-5 { width:29.25%; } .medium-6 { width:35.50%; } .medium-7 { width:41.75%; } .medium-8 { width:48.00%; } .medium-9 { width:54.25%; } .medium-10 { width:60.50%; } .medium-11 { width:66.75%; } .medium-12 { width:73.00%; } .medium-13 { width:79.25%; } .medium-14 { width:85.50%; } .medium-15 { width:91.75%; } .medium-16, .full-16 { width:98.00%; }
        .cell.medium-1 { width:6.250%; } .cell.medium-2 { width:12.50%; } .cell.medium-3 { width:18.75%; } .cell.medium-4 { width:25.00%; } .cell.medium-5 { width:31.25%; } .cell.medium-6 { width:37.50%; } .cell.medium-7 { width:43.75%; } .cell.medium-8 { width:50.00%; } .cell.medium-9 { width:56.25%; } .cell.medium-10 { width:62.50%; } .cell.medium-11 { width:68.75%; } .cell.medium-12 { width:75.00%; } .cell.medium-13 { width:81.25%; } .cell.medium-14 { width:87.50%; } .cell.medium-15 { width:93.75%; } .cell.medium-16 { width:100.0%; }
        .medium-third { width:30.833% }
        .hide-below-large, .hide-below-mega-hd, .hide-below-mega-uhd { display:none; }  /** Hide elements below certain points **/
        .hide-above-xsmall, .hide-above-small { display:none; } /** Show elements only below certain points **/
        .show-only-medium { display:block; }
    }

    /** LARGE **/
    @media screen and (min-width: 901px) {
        .large-1 { width:4.25%; } .large-2 { width:10.50%; } .large-3 { width:16.75%; } .large-4 { width:23.00%; } .large-5 { width:29.25%; } .large-6 { width:35.50%; } .large-7 { width:41.75%; } .large-8 { width:48.00%; } .large-9 { width:54.25%; } .large-10 { width:60.50%; } .large-11 { width:66.75%; } .large-12 { width:73.00%; } .large-13 { width:79.25%; } .large-14 { width:85.50%; } .large-15 { width:91.75%; } .large-16, .full-16 { width:98.00%; }
        .cell.large-1 { width:6.250%; } .cell.large-2 { width:12.50%; } .cell.large-3 { width:18.75%; } .cell.large-4 { width:25.00%; } .cell.large-5 { width:31.25%; } .cell.large-6 { width:37.50%; } .cell.large-7 { width:43.75%; } .cell.large-8 { width:50.00%; } .cell.large-9 { width:56.25%; } .cell.large-10 { width:62.50%; } .cell.large-11 { width:68.75%; } .cell.large-12 { width:75.00%; } .cell.large-13 { width:81.25%; } .cell.large-14 { width:87.50%; } .cell.large-15 { width:93.75%; } .cell.large-16 { width:100.0%; }
        .large-third { width:30.833% }
        .hide-below-mega-hd, .hide-below-mega-uhd { display:none; }  /** Hide elements below certain points **/
        .hide-above-xsmall, .hide-above-small, .hide-above-medium { display:none; }  /** Show elements only below certain points **/
        .show-only-large { display:block; }
    }

    /** HD **/
    @media screen and (min-width: 1601px) {
        .mega-hd-1 { width:4.25%; } .mega-hd-2 { width:10.50%; } .mega-hd-3 { width:16.75%; } .mega-hd-4 { width:23.00%; } .mega-hd-5 { width:29.25%; } .mega-hd-6 { width:35.50%; } .mega-hd-7 { width:41.75%; } .mega-hd-8 { width:48.00%; } .mega-hd-9 { width:54.25%; } .mega-hd-10 { width:60.50%; } .mega-hd-11 { width:66.75%; } .mega-hd-12 { width:73.00%; } .mega-hd-13 { width:79.25%; } .mega-hd-14 { width:85.50%; } .mega-hd-15 { width:91.75%; } .mega-hd-16, .full-16 { width:98.00%; }
        .cell.mega-hd-1 { width:6.250%; } .cell.mega-hd-2 { width:12.50%; } .cell.mega-hd-3 { width:18.75%; } .cell.mega-hd-4 { width:25.00%; } .cell.mega-hd-5 { width:31.25%; } .cell.mega-hd-6 { width:37.50%; } .cell.mega-hd-7 { width:43.75%; } .cell.mega-hd-8 { width:50.00%; } .cell.mega-hd-9 { width:56.25%; } .cell.mega-hd-10 { width:62.50%; } .cell.mega-hd-11 { width:68.75%; } .cell.mega-hd-12 { width:75.00%; } .cell.mega-hd-13 { width:81.25%; } .cell.mega-hd-14 { width:87.50%; } .cell.mega-hd-15 { width:93.75%; } .cell.mega-hd-16 { width:100.0%; }
        .mega-hd-third { width:30.833% }
        .hide-below-mega-uhd { display:none; }  /** Hide elements below certain points **/
        .hide-above-xsmall, .hide-above-small, .hide-above-medium, .hide-above-large { display:none; }
        .show-only-mega-hd { display:block; }
    }

    /** Ultra-HD (2K, 3K, and 4K **/
    @media screen and (min-width: 2049px) {
        .mega-uhd-1 { width:4.25%; } .mega-uhd-2 { width:10.50%; } .mega-uhd-3 { width:16.75%; } .mega-uhd-4 { width:23.00%; } .mega-uhd-5 { width:29.25%; } .mega-uhd-6 { width:35.50%; } .mega-uhd-7 { width:41.75%; } .mega-uhd-8 { width:48.00%; } .mega-uhd-9 { width:54.25%; } .mega-uhd-10 { width:60.50%; } .mega-uhd-11 { width:66.75%; } .mega-uhd-12 { width:73.00%; } .mega-uhd-13 { width:79.25%; } .mega-uhd-14 { width:85.50%; } .mega-uhd-15 { width:91.75%; } .mega-uhd-16, .full-16 { width:98.00%; }
        .cell.mega-uhd-1 { width:6.250%; } .cell.mega-uhd-2 { width:12.50%; } .cell.mega-uhd-3 { width:18.75%; } .cell.mega-uhd-4 { width:25.00%; } .cell.mega-uhd-5 { width:31.25%; } .cell.mega-uhd-6 { width:37.50%; } .cell.mega-uhd-7 { width:43.75%; } .cell.mega-uhd-8 { width:50.00%; } .cell.mega-uhd-9 { width:56.25%; } .cell.mega-uhd-10 { width:62.50%; } .cell.mega-uhd-11 { width:68.75%; } .cell.mega-uhd-12 { width:75.00%; } .cell.mega-uhd-13 { width:81.25%; } .cell.mega-uhd-14 { width:87.50%; } .cell.mega-uhd-15 { width:93.75%; } .cell.mega-uhd-16 { width:100.0%; }
        .mega-uhd-third { width:30.833% }
        .hide-above-xsmall, .hide-above-small, .hide-above-medium, .hide-above-large, .hide-above-mega-hd { display:none; }
        .show-only-mega-uhd { display:block; }
    }
/** END StringBean **/
